body {
  font-family: "Exo", sans-serif;
  color: #009378;
  background-image: url("img/aesthetic_background.jpg");
  background-size: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


.hidden {
  display: none !important;
}

header {
  color: white;
  margin-right: 50%;
  margin-left: 10%;
  margin-top: 7%;
}

header p.subtitle {
  text-align: left;
  font-size: 350%;
  font-weight: bold;
  margin-bottom: 10px;
}

div  {
  display: flex;
}

header a {
  border: 2px solid #009378;
}

h1 {
  font-family: 'Dameron Condensed', sans-serif;
  font-size: 26px;
  margin-left: 10px;
}

#intro-view section, #intro-view form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto;
  padding: 10px 2px;
  width: 50%;
}

#intro-view section {
  border-radius: 30px;
  margin-top: 5%;
  border: 5px solid #009378;
  background-color: #001426;
}

#intro-view section label {
  font-size: 20px;
  font-weight: bold;
}

#intro-view section input {
  font-size: 20px;
  padding: 2px;
  margin: 5px;
  border: 3px solid #009378;
  border-radius: 5px;
}

#intro-view section p {
  background-color: black;
  font-size: 30px;
  padding: 10px 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

button:hover {
  background-color: black;
  color: #009378;
}

button {
  color: white;
  background-color: #009378;
  border: 3px solid #00183b;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
}

#auth #login {
  font-size: 20px;
}

footer {
  text-align: center;
  background-color: black;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.spinner {
  width: 100px;
  height: 100px;
  animation: Morph 2000ms infinite;
  margin: auto;
}

@keyframes Morph {
  0%,
  100% {
    border-radius: 50%;
    transform: rotate(0deg);
    background-color: #00183b;
  }
  50% {
    border-radius: 0%;
    transform: rotate(180deg);
    background-color: #009378;
  }
}

#task-view {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  margin: 20px;
  height: 75vh;
}

.card {
  font-size: 30px;
  color: white;
  background-color: #00183b;
  border: 3px solid #009378;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.card p {
  margin: 15px;
}

.card .category {
  margin: 0px;
  font-size: 15px;
  align-self: flex-start;
  border: 2px solid #009378;
  padding: 5px;
  border-radius: 9px
}

.card button {
  margin: 0;
  border-bottom: 0px;
  border-radius: 9px;
  border-color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

/* Style the links inside the navigation bar */
.topnav a, header a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 9px 3px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover, header a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.highlight, header a.highlight {
  background-color: #009378;
  color: white;
}

.topnav h1 {
  margin-right: auto;
}



